*{
    margin: 0;
    box-sizing: border-box;

}
#boydy{
    border:1px solid blue;
}
#divBody{
    padding: 50px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    width: 60%;
}
#formLogIn{
    margin-top: 10px;
    text-align: center;
    padding: 20px;
}
#formLogIn>input{
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
}
h3{
    font-style: italic;
    font-size: 25px;
}
a:hover{
    color: brown;
}
body>#divBody>table>.trBody:hover{
    background-color: aqua;
    cursor: pointer;
}